{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vime</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-..." crossorigin="anonymous" />
    <link rel="stylesheet" href="{% static 'home.css' %}">
</head>
<body>
    <header>
        <div class="home">
            <p class="home-text">Home</p>
            <p><i class="fas fa-search"></i></p>
        </div>
        <div class="user">
            <div class="user-details">
              <span><i class="fas fa-user-circle"></i></span>
              <div class="column">
                {% if user.is_authenticated %}
                <p>{{ user.username }}</p>
                {% endif %}
                <div class="activeness"></div>
                <span style="font-size: medium;">online</span>
            </div>
            </div>
            <div class="icons">
                <span><i class="fas fa-link"></i></span>
                <span><i class="fas fa-phone"></i></span>
                <span><i class="fas fa-trash"></i></span>
            </div>
        </div>
    </header>
    <div class="sidebar">
        <div class="tools">
            <span><i class="fas fa-home"></i></span>
            <span><i class="fas fa-comments"></i></span>
            <span><i class="fas fa-cog"></i></span>
        </div>
        <div class="logout">
            <span><i class="fas fa-user-circle"></i></span>
            <a href="{% url "logout" %}"><span><i class="fas fa-sign-out-alt"></i></span></a>
        </div>
    </div>
    <main>
        <div class="stories-container">
            <div class="add-story">
                <i class="fas fa-plus-circle"></i>
                <p>add story</p>
            </div>


            <div class="available-stories">
                {% for post in posts %}
                <div class="story">
                    {% if post.image %}
                    <img src="{{post.image.url}}" alt="{{post.title}}">
                    {% endif %}
                   <div class="posted-user">
                    <i class="fas fa-user-circle"></i>
                    <span>username · 13h</span>
                   </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="post-container">
           <div class="post-header">
            <p class="home-text">Posts</p>
            <a href="{% url "add-post" %}"><button class="add-post">Add post</button></a>
           </div>

           {% for post in posts %}
           <div class="posts">
                <div class="twitter-post">
                    <div class="header">

                        <div class="user-who-posted">
                            <span><i class="fas fa-user-circle"></i></span>
                        </div>              

                        <div class="user-info" >
                            <div class="username">{{ post.user }}</div>
                            <div class="handle">posted · {{ post.created_at|timesince }} ago</div>
                        </div>
                    </div>

                    <div class="content">
                        <p>{{post.title}}</p>
                        <div class="quoted-tweet">     
                            <div class="quoted-content">
                                <p>{{post.content}}</p>
                                {% if post.image %}
                                <img src="{{ post.image.url }}" alt="{{ post.title }}" class="quoted-image">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    
                    <div class="footer">
                        <div class="footer-item">
                            <span><i class="fas fa-heart"></i></span>3.2K
                        </div>
                        <div class="footer-item">
                            <span><i class="fas fa-comments"></i></span> 8K
                        </div>
                        <div class="footer-item">
                            <span><i class="fas fa-share"></i></span> 18M
                        </div>
                    </div>
                </div>
                {% endfor %}







                








           </div>
        </div>
    </main>
</body>
</html>
