<!DOCTYPE html>
<html lang="en">
<head>
                  <meta charset="UTF-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1.0">
                  <title>Document</title>
</head>
<body>
                  <div class="container">
                  <div class="post">
                                    <div class="content">{{ post.content }}</div>
                                    <div>
                                                      <img src="{{post.image.url}}" alt="">
                                    </div>                
                  <div>
                                    <div class="comments">
                                                      {% if post.comments.all %}
                                                      {% for comment in post.comments.all %}
                                                      <div>
                                                                        <p>{{comment.user}}</p>
                                                                        {% if comment.attachment %}
                                                                        <div><img src="{{comment.attachment.url}}" alt=""></div>
                                                                        {% endif %}
                                                                        <p>{{ comment.content }}</p>

                                                      </div>
                                                      {% endfor %}
                                                      {% else %}
                                                      <div>No comments yet!</div>
                                                      {% endif %}

                                    </div>

                                    <div>
                                                      <form action="" method="post" enctype="multipart/form-data">
                                                                        {% csrf_token %}
                                                                        <textarea name="content" id=""></textarea>
                                                                        <input type="file" name="attachment">
                                                                        <button type="submit">Comment</button>

                                                      </form>
                                    </div>

                  </div>
                  </div>
                  </div>
                  
</body>
</html>